/* You can add global styles to this file, and also import other style files */
/* color : #16daf0 */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@font-face {
    font-family: hacked;
    src: url(./assets/fonts/hacked/Hacked-KerX.ttf);
  }
.hacked{
    font-family: "hacked";
}
.body{
    margin: 0;
    padding:0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}
.scrolltop i{
    font-size: 25px;
    padding: 10px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
}
.scrolltop{
    position: fixed;
    bottom: 20px;
    right: 50px;
    transition: all 1s ease; 
    margin-right: -200px;
    opacity:0;
  
}
.appear{
    margin: 0;
    z-index: 100;
    opacity: 1;
}
.preloader-left{
    position: fixed;
    top:0;
    left:0;
    right:50%;
    bottom:0;
    background-color: black;
    z-index: 9999;
    pointer-events: none;
}
.preloader-right{
    position: fixed;
    top:0;
    left:50%;
    right:0;
    bottom:0;
    background-color: black;
    z-index: 9999;
    pointer-events: none;
}